body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    background: #060CE9;
    font-family: Impact, sans-serif;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060CE9;
    height: 8vh;
    font-family: Impact, sans-serif;
    font-size: 3em;
    color: floralwhite;
    text-shadow: 4px 4px black;
}

.gameContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: #060CE9;
    height: 75vh;

}
.categoryColumn{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    width: 12vw;
    margin: 5px 5px;
    background: #060CE9;
}
.questionBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 9vh;
    width: 10vw;
    align-items: center;
    border: 5px solid black;
    color: blanchedalmond;
    background: #060CE9;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.gameStatus{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 0;
    justify-content: space-around;
    align-items: center;
    background: #060CE9;
    height: 20vh;
    font-size: 2em;
    color: blanchedalmond;
    text-shadow: 2px 2px black;

}

.playerStatus{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 10vh;
    width: 16vw;
    background: #060CE9;
    border: 2px solid black;
}

.playerName{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #060CE9;
    height: 5vh;
    widows: 8vw;

}

.playerScore{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #060CE9;
    height: 5vh;
}

.modalContainer{
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1; 
    width: 100vw;
    height: 100vh;
    background-color:#060CE9;
    font-family: Impact, sans-serif;
    font-size: 2em;
    color: blanchedalmond;
    text-shadow: 2px 2px black;
    
}

.modalContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    height: 70vh;
    width: 70vw;
    background:#060CE9;
    border: 10px solid black;

}

.question{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #060CE9;
    height: 30vh;
    width: 50vw;
    font-size: 1.5em;


}

.answer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #060CE9;
    height: 10vh;
    width: 40vw;
    font-size: 1em;


}